In [ ]:
# keep this here pls
!pip install xlrd 
#!pip install country_converter

In [172]:
import pandas as pd
import numpy as np

#define path to xls
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)
df  # 6992 rows × 23 columns

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6988,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6989,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6990,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6991,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [3]:
#df.head()

In [4]:
#df.tail()

In [106]:
df.shape[0]
df.shape[1]

print("Number of Rows: ", df.shape[0])
print("Number of Columns: ", df.shape[1])

df.columns

# Issues w/ og file –> extra 8 columns on VSC? to preserve NaN
# Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Fatal Y/N, Time, Specie, Source
# check search tool between uppercase and lowercase e.g. Australia / AUSTRALIA

Number of Rows:  6992
Number of Columns:  23

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [107]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [173]:
df.rename(columns= {
    'Fatal Y/N': 'Fatal',
    'Species ': 'Species',
    'pdf': 'PDF', 
    'href formula': 'Href_formula', 
    'href': 'Href',
    'Case Number': 'Case_Number', 
    'Case Number.1': 'Case_Number_1',
    'original order': 'Original_Order', 
    'Unnamed: 21': 'Unnamed_21', 
    'Unnamed: 22': 'Unnamed_22'
}, inplace=True)
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species', 'Source',
       'PDF', 'Href_formula', 'Href', 'Case_Number', 'Case_Number_1',
       'Original_Order', 'Unnamed_21', 'Unnamed_22'],
      dtype='object')

In [109]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal              object
Time               object
Species            object
Source             object
PDF                object
Href_formula       object
Href               object
Case_Number        object
Case_Number_1      object
Original_Order    float64
Unnamed_21         object
Unnamed_22         object
dtype: object

In [110]:
type(df)

pandas.core.frame.DataFrame

In [111]:
df.nunique() # Reviewing here the unique values per column

Date              6040
Year               261
Type                12
Country            239
State              920
Location          4553
Activity          1598
Name              5726
Sex                  8
Age                246
Injury            4121
Fatal               12
Time               434
Species           1706
Source            5345
PDF               6789
Href_formula      6784
Href              6776
Case_Number       6777
Case_Number_1     6775
Original_Order    6797
Unnamed_21           1
Unnamed_22           2
dtype: int64

In [112]:
# Here I am trying to identify the number of unique values for each column and determine which columns appear to be categorical. 
unique_counts = df.nunique() # Identify the number of unique values for each column
print("\nUnique value counts per column: ")
print(unique_counts)

Unique value counts per column:
Date              6040
Year               261
Type                12
Country            239
State              920
Location          4553
Activity          1598
Name              5726
Sex                  8
Age                246
Injury            4121
Fatal               12
Time               434
Species           1706
Source            5345
PDF               6789
Href_formula      6784
Href              6776
Case_Number       6777
Case_Number_1     6775
Original_Order    6797
Unnamed_21           1
Unnamed_22           2
dtype: int64

In [113]:
#Checking for null values in each column 
df.isna().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal              True
Time               True
Species            True
Source             True
PDF                True
Href_formula       True
Href               True
Case_Number        True
Case_Number_1      True
Original_Order     True
Unnamed_21         True
Unnamed_22         True
dtype: bool

In [114]:
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal              561
Time              3526
Species           3132
Source              19
PDF                193
Href_formula       198
Href               196
Case_Number        194
Case_Number_1      195
Original_Order     193
Unnamed_21        6991
Unnamed_22        6990
dtype: int64

In [115]:
df.duplicated().sum()

0

In [116]:
df.duplicated().any()

False

In [117]:
df.describe()

              Year  Original_Order
count  6990.000000     6799.000000
mean   1935.018598     3401.152081
std     272.082794     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1986.000000     3401.000000
75%    2009.000000     5100.500000
max    2026.000000     6802.000000

In [118]:
df.nunique() # Reviewing here the number of unique values per column

Date              6040
Year               261
Type                12
Country            239
State              920
Location          4553
Activity          1598
Name              5726
Sex                  8
Age                246
Injury            4121
Fatal               12
Time               434
Species           1706
Source            5345
PDF               6789
Href_formula      6784
Href              6776
Case_Number       6777
Case_Number_1     6775
Original_Order    6797
Unnamed_21           1
Unnamed_22           2
dtype: int64

In [119]:
#for col in df.columns: 
#    if df[col].dtype == object: 
#        print(col)
#        print(df[col].nunique())
#        print(df[col].unique())
#    else: 
#        print(col)
#        print(df[col].nunique())
#        print(df[col].min(), df[col].max)

In [174]:
# Data Cleaning for the Column 'Type' 

#Reviewing how many were provoked and unprovoked 
print(df["Type"].unique())
df["Type"] = df["Type"].replace({
    " Provoked": "Provoked", 
    "Unconfirmed": "Unverified",
    "?" : "Unverified",
    "Questionable": "Unverified"
})

df_nan = df[df["Type"].isna()]
df_nan

df["Type"] = df["Type"].isnull().sum

# What is the meaning in here as "Provoked"??

['Unprovoked' 'Provoked' ' Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']

In [124]:
df.isna().any()

Date              False
Year               True
Type              False
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal              True
Time               True
Species            True
Source             True
PDF                True
Href_formula       True
Href               True
Case_Number        True
Case_Number_1      True
Original_Order     True
Unnamed_21         True
Unnamed_22         True
dtype: bool

In [125]:
#Count the number of null values in each column
df.isna().sum()

Date                 0
Year                 2
Type                 0
Country             50
State              482
Location           565
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal              561
Time              3526
Species           3132
Source              19
PDF                193
Href_formula       198
Href               196
Case_Number        194
Case_Number_1      195
Original_Order     193
Unnamed_21        6991
Unnamed_22        6990
dtype: int64

In [126]:
df.Type.unique()

array([<bound method Series.sum of 0       False
       1       False
       2       False
       3       False
       4       False
               ...
       6987    False
       6988    False
       6989    False
       6990    False
       6991    False
       Name: Type, Length: 6992, dtype: bool>   ], dtype=object)

In [127]:
# Data Cleaning for the Column Gender
df["Sex"] = df["Sex"].replace({" M": "M", "M ": "M", "M x 2": "M", " nan": "Unknown", "lli": "Unknown", "N": "M", ".": "Unknown", " nan":"Unknown"})
df["Sex"] = df["Sex"].fillna("Unknown")
df.Sex.unique()

array(['M', 'F', 'Unknown'], dtype=object)

In [131]:
#Data Cleanining for the Column Species
df["Species"] = df["Species"].str.extract(r'([A-Za-z\s-]+)').fillna("Unknown") # Cleaning here the unnecessary details
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,PDF,Href_formula,Href,Case_Number,Case_Number_1,Original_Order,Unnamed_21,Unnamed_22
0,2025-01-23 00:00:00,2025.0,<bound method Series.sum of 0 False\n1 ...,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,<bound method Series.sum of 0 False\n1 ...,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,<bound method Series.sum of 0 False\n1 ...,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,<bound method Series.sum of 0 False\n1 ...,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,<bound method Series.sum of 0 False\n1 ...,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,Before 1903,0.0,<bound method Series.sum of 0 False\n1 ...,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,Not stated,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6988,Before 1903,0.0,<bound method Series.sum of 0 False\n1 ...,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,Not stated,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6989,1900-1905,0.0,<bound method Series.sum of 0 False\n1 ...,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,Not stated,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6990,1883-1889,0.0,<bound method Series.sum of 0 False\n1 ...,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,Not stated,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6991,1845-1853,0.0,<bound method Series.sum of 0 False\n1 ...,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,Not stated,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
#df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [177]:
# Data Cleaning for the column 'Country', I've tried to use regex 
df["Country"] = df["Country"].str.strip().str.title()
df["Country"] = df["Country"].str.replace(r"[^a-zA-Z\s]", "", regex=True)
#df["Country"] = df["Country"].map(lambda x: x.upper())
df["Country"] = df["Country"].fillna("Unknown")
print(df["Country"].unique())

['Australia' 'Usa' 'New Caledonia' 'Egypt' 'Thailand' 'New Zealand'
 'Maldives' 'Hawaii' 'Honduras' 'Morocco' 'Jamaica' 'Belize'
 'Maldive Islands' 'Turks And Caicos' 'French Polynesia' 'Tobago'
 'Bahamas' 'India' 'Trinidad' 'South Africa' 'Mexico' 'Philippines'
 'Coral Sea' 'Spain' 'Portugal' 'Samoa' 'Colombia' 'Ecuador' 'Cuba'
 'Brazil' 'Seychelles' 'Argentina' 'Fiji' 'England' 'Japan' 'Indonesia'
 'Columbia' 'Costa Rica' 'British Overseas Territory' 'Canada' 'Jordan'
 'St Kitts  Nevis' 'St Martin' 'Papua New Guinea' 'Reunion Island'
 'Israel' 'China' 'Ireland' 'Italy' 'Malaysia' 'Libya' 'Unknown'
 'Mauritius' 'Solomon Islands' 'St Helena British Overseas Territory'
 'Comoros' 'Reunion' 'United Kingdom' 'United Arab Emirates' 'Cape Verde'
 'Dominican Republic' 'Cayman Islands' 'Aruba' 'Mozambique' 'Puerto Rico'
 'Atlantic Ocean' 'Greece' 'France' 'Trinidad  Tobago' 'Kiribati'
 'Diego Garcia' 'Taiwan' 'Palestinian Territories' 'Guam' 'Nigeria'
 'Tonga' 'Scotland' 'Croatia' 'Saudi Arabia' 'Chile' 'Antigua' 'Kenya'
 'Russia' 'Turks  Caicos' 'United Arab Emirates Uae' 'Azores'
 'South Korea' 'Malta' 'Vietnam' 'Madagascar' 'Panama' 'Somalia' 'Nevis'
 'British Virgin Islands' 'Norway' 'Senegal' 'Yemen' 'Gulf Of Aden'
 'Sierra Leone' 'St Maartin' 'Grand Cayman' 'Liberia' 'Vanuatu'
 'Venezuela' 'Sri Lanka' 'Uruguay' 'Micronesia' 'Caribbean Sea' 'Okinawa'
 'Tanzania' 'Marshall Islands' 'Egypt  Israel' 'Northern Arabian Sea'
 'Hong Kong' 'El Salvador' 'Angola' 'Bermuda' 'Montenegro' 'Iran'
 'Tunisia' 'Namibia' 'North Atlantic Ocean' 'South China Sea' 'Bangladesh'
 'Palau' 'Western Samoa' 'Pacific Ocean' 'British Isles' 'Grenada' 'Iraq'
 'Turkey' 'Singapore' 'New Britain' 'Sudan' 'Johnston Island'
 'South Pacific Ocean' 'New Guinea' 'Red Sea' 'North Pacific Ocean'
 'Federated States Of Micronesia' 'Mid Atlantic Ocean' 'Admiralty Islands'
 'British West Indies' 'South Atlantic Ocean' 'Persian Gulf'
 'Red Sea  Indian Ocean' 'North Sea' 'Nicaragua' 'American Samoa'
 'Andaman  Nicobar Islandas' 'Gabon' 'Mayotte' 'The Balkans' 'Martinique'
 'Indian Ocean' 'Guatemala' 'Netherlands Antilles'
 'Northern Mariana Islands' 'Iran  Iraq' 'Java' 'Central Pacific'
 'Solomon Islands  Vanuatu' 'Southwest Pacific Ocean' 'Bay Of Bengal'
 'Midpacifc Ocean' 'Slovenia' 'Curacao' 'Iceland' 'Italy  Croatia'
 'Barbados' 'Monaco' 'Guyana' 'Haiti' 'San Domingo' 'Kuwait'
 'Falkland Islands' 'Crete' 'Cyprus' 'West Indies' 'Burma' 'Lebanon'
 'Paraguay' 'British New Guinea' 'Ceylon' 'Ocean' 'Georgia' 'Syria'
 'Tuvalu' 'Guinea' 'Andaman Islands' 'Equatorial Guinea  Cameroon'
 'Cook Islands' 'Peru' 'Africa' 'Algeria' 'Coast Of Africa' 'Tasman Sea'
 'Ghana' 'Greenland' 'Mediterranean Sea' 'Sweden' 'Roatan'
 'Between Portugal  India' 'Djibouti' 'Bahrein' 'Korea' 'Asia'
 'Ceylon Sri Lanka']

In [135]:
# Cleaning for location
df["Location"] = df["Location"].astype(str)
df["Location"] = df["Location"].map(lambda x:x.upper())
df["Location"] = df["Location"].fillna("Unknown")
df["Location"] = df["Location"].str.strip()
df["Location"] = df["Location"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown", 
})

In [189]:
# Data Cleaning for the Column 'State'
#df["State"] = df["State"].
df["State"] = df["State"].fillna("Unknown")
df["State"] = df["State"].astype(str)
df["State"] = df["State"].str.strip()
df["State"] = df["State"].replace({
    "NAN": "Unknown",
    "nan": "Unknown",
    "Nan": "Unknown", 
    " ": "Unknown",
    "  ": "Unknown"
})
print(df["State"].unique())

['Western Australia' 'Hawaii' 'Grande Terre' 'South Australia'
 'North of Marsa Alam' 'Queensland' 'Phang Nga Province' 'Bay of Waitangi'
 'Kaafu' 'Maui' 'Florida' 'Tela' 'Trujillo Colon' 'Southern Morocco'
 'Montego Bay' 'Gulf of Honduras' 'NSW' 'Texas' 'Floria' 'California'
 'Maahvah Laamu Atoll' 'Galveston' 'Providenciales Island'
 'Gambier Islands' 'South Carolina' 'Graet Courland Bay'
 'Clarence Town Long Isand' 'Nunu Atoll' 'Maharashtra' 'Unknown'
 'New  South Wales' 'Paradise Island' 'Eastern Cape Province' 'Sonora'
 'New South Wales' 'South Island' 'Guerrero' 'New Providence   Isoad'
 'Jalisco' 'Grand  Bahama Island' 'Westerm Australia' 'North Island'
 'Southern Red Sea' 'Quintana Roo' 'Belize District' 'South Sinai'
 'Bolinao' 'North Carolina' 'Valencia' 'Norte' "Savai'i island" 'New York'
 'San Andrés Island' 'Galapagos Islands' 'Red Sea Protectorate' 'Freeport'
 'Tahiti' 'Poum' 'Lucayan Lucayan Archipelago' 'Utah' 'New Jersey'
 'Mayabeque' 'Easten Cape Province' 'Artemisa' 'Pernambuco'
 'Praslin Island' 'South Province' 'Patagonia' 'Taveuni Island'
 'Gulf of California' 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa'
 'Louisiana' 'Mississippi' 'Western  Australia' 'Victoria'
 'Western Cape Province' 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Bora Bora' 'Georgia'
 'Phuket' 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste'
 'KwaZulu-Natal' 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'The Narrows' 'Raa Atoll' 'Oregon'
 'Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tasmania' 'Tuamotu Islands' 'Maine' 'Bahamas' 'Exumas' 'Delaware'
 'Abaco Islands' 'Muang district of Satun province,' 'Canary Islands'
 'Vanua Levu' 'Southland' 'Praslin' 'Central Province' 'Holquin' 'Moorea'
 'Baja' 'Saint-Gilles' 'Guam' 'Northern Territory' 'Cayman Islands'
 'Rhode Island' 'Chatham Islands' 'Quinta Roo' 'Lucayan Archipelago'
 'Bélep Islands' 'Noumea' 'Fernando de Noronha' 'Liaoning Province'
 'Upolo' 'St. Marys Parish' 'Massachusetts' 'County Cork'
 'Chieti, Province' 'Guizhou Province'
 'San Andres and Providencia Archipelago' 'The Exuma Cays' 'Colima'
 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll' 'New Providence' 'Alagoas'
 'Boi Island, Victoria' 'Sepang' 'Holquin Province' 'Pamplemousses'
 'Upolu Island' 'Shizuoka Prefecture' 'Castellón'
 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Anjouan'
 'Ibiza Island' 'South Devon' 'Sharjah,' 'Baja California Sur' 'Saint-Leu'
 'Luzon Island' 'Tamaulipas' 'Saint-Andre' 'Bimini' 'Tuamotos'
 'North Province' 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Le Port' 'Rangiroa' 'Saint-Gilles-les-Bains' 'Sardinia' 'Sinaloa'
 'Central Tuamotu' 'd’Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Catalonia' 'West End'
 'Atsumi peninsula' 'Palmyra Atoll' 'Wallis and Futuna'
 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 miles SE of Tarawa Atoll' 'Southern District' 'Bay of Biscay'
 'Exuma Islands' 'Saint-Paul' 'Taitung' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 'Saint Gilles' 'Virginia' "Ha'api" 'Western Province' 'Jeju Province'
 'Binh Dinh Province' 'Antsiranana Province' 'Sinai Peninsula'
 'Off Vanua Levu' 'Merizo' 'Rio Grande Do Sul' 'Dubai' 'Torres Strait'
 'Eastern Province' 'Eastern Cape  Province' 'Maputo Province' 'Bocas'
 'Fife' 'Devon' 'Makira-Ulawa Province' 'Mombasa' 'Catalunya'
 'St. Johns Reef' 'Off Green Island' 'North Region' 'Batangas province'
 'Strait of Malacca' 'Guantanamo Province' 'Maranhão' 'Red Sea'
 'Batanes Provine' 'Luzon' 'Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'Conservatória District' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-Benoît'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale"
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Chatham Islands, east of New  Zealand'
 'Saint-Denis' 'Vava’u' 'Clearwater Bay' 'New Territories'
 'Aichi Prefecture' 'Tafea Province' 'Kagoshima Prefecture' 'Saint-Joseph'
 'Banaadir Region' 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On the Kowloon penisula, south of Sai Kung' 'Ehime Prefecture'
 'Tongapatu Group' 'West Africa' 'Wakaya Island' 'Mexico / Caribbean Sea'
 'Antarctic Ocean' 'La Saline-les-Bains' 'Sea of Japan' 'Tavenui'
 'Ligurian Sea' "L'Etang-Salé" 'Kowloon Peninsula' 'Port Shelter'
 'Laucala Island' 'Sainte-Marie' 'Great Exuma Island' 'Sainte-Suzanne'
 'Tuscany' 'Tyrrhenian Sea' 'New Ireland' 'Valpariso Province'
 'Viscayan Sea' 'Manfredonia' 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro'
 'Between DR and Puerto Rico' 'Between Honiara & Isabel Island'
 'Florida Straits' 'Gulf of Lyons' 'Cádiz' 'Sicily' 'Andikira Fokithes'
 'Central Philippines' 'Northwest Italy' 'English Channel'
 'North & South Carolina' 'Carolina coast' 'Kumamoto Prefecture' 'Biserta'
 'Saint-Philippe' 'Chungnam' 'Eronogo Region' 'Coquimbo'
 'Pagasitikos Gulf' "St. Mary's Parish" 'Romblon Province'
 'Lamu Archipelago' 'Los Vilos' 'Island of Kos' 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Golfo de Venezia'
 'Ralik Archipelago' 'South China Sea 200 miles from Hong Kong'
 'Reggio Calabria Province' 'Mirs Bay' 'Genoa Province'
 'Ganges-Brahmaputra delta' 'Split-Dalmatia County'
 'Primorje-Gorski Kotar County' 'Aulong Island' 'Western Caroline Islands'
 'Antibes' 'Illeginni Atoll' 'Istria County' 'Between Beira & Maputo'
 'Istria' 'Khuzestan Province' 'Inhambe Province' 'Namonuito Atoll'
 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'Limón Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay of Maputo'
 'Duke of York Islands' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Okayama Prefecture' 'San Blas'
 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 'Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Between Timor & Darwin, Australia'
 'Pacific coast' 'St. Georges' 'Eastern  Province'
 'Northwest of Viti Levu' 'West New Britain Province' 'Rigo subdistrict'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'PANAMA' 'In the Gulf Stream' 'Mersin Province' 'Guyamas'
 'Between England & South Africa' 'Mindanao' 'Kikori River mouth'
 'South Chungcheong Province' 'Ahirkapi coast' 'Tutuila Island'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 miles east of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 miles west of Hawaii'
 'Izo Islands' 'Open sea' 'Aden' 'New Ireland, Bismarck Archipelago'
 '18S / 50E' 'Illinois' 'Isles del Rosario' 'Wake Island' 'Isle of Man'
 'Nagasaki Prefecture' 'Liguaria' 'Slovenia' 'South shore'
 'Buenos Aires Province' '330 to 350 miles east of Wake Island'
 'Gulf of Panama' 'Genoa  Province' 'Abau Sub District, Central Province'
 'Teramo' 'Red Sea State' 'Curacao' 'Port Louis Province' 'Montserrado'
 'Bay of Maputu' 'Sofala Province' 'Salerno' 'Salerno Province' 'Taranto'
 'Naples Province' 'Sago Prefecture' 'Savona' 'Southern Province'
 'Jakarta Harbour' 'Singapore Harbor' 'Calabria' 'Shatt-el-Arab River'
 'Shatt-al-Arab River' 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-es-Salaam' '"Head of the Gulf"' 'Ryukyu'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Pacific Ocean' 'Near the Fiji Islands' '40 miles south of Naples'
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Carabobo' 'Ascension Bay' 'North China'
 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City' 'West Bengal'
 'Argyllshire' 'Arran' 'Argyll' 'Fishing Grounds' 'Newfoundland'
 'Isle of Wight' 'Makira-Uluwa Province' 'Northern (Oro) Province'
 'Herzliyah' 'Elqui Province' 'Istanbul' 'St Michael Parish'
 'Barlavento Islands' 'Viti Levu Island' 'Bay of Fundy' 'Manila'
 'French Southern Territories' 'Niua' 'Black River' 'Phoenix Islands'
 'Cienfuegos Province' 'Santiago Island' 'Near Puntarenas' 'Porto Seguro'
 'Salinas Bay' 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator' 'Bay of Monaco' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' 'Manila Bay'
 'Lucy' 'East Yorkshire' 'Cavite Province, Luzon' 'Cape Haitien' 'Leyte'
 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos'
 'Trieste' '5aint-Denis' 'Viti Levu group' 'Balearics' 'Málaga'
 'Georges Bank' 'Zambesi River' 'Colón Province' '30 nm from Singapore'
 'Andalucia' 'Sfax' 'South Atlantic Ocean' 'Galicia' 'Gulf of Suez' 'Java'
 'Tiburon Peninsula' 'Oaxaca' 'Harare Province' 'Khánh Hòa Province'
 'Maluku Province' 'Suez Canal' 'Nusa Tenggara' 'Between Noumea & Sydney'
 'Villa Clara Province' 'Ancona Province' 'Quezon' 'Rio San Juan'
 'Southern Cyprus' 'Syracuse' 'Western Viscayas' 'Mindoro Occidental'
 'Negros' 'Imperia Province' 'Muala' 'East coast' 'Ratak'
 'Socotra Islands' 'Off Cape Haitien' 'Moluccas' 'Bocas del Toro'
 'Provence' 'Bay of Campeche' 'Rangoon' 'Bay of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Brittany' 'Line Islands'
 'Woodlark Islands' 'Munxar Reef' 'Northern Peloponnese'
 'Between Perth & Colombo' 'Gujarat' 'Lukovo' 'Cortés'
 'Somewhere between Philadelphia and Hiogo, Japan' "Côte d'Azur"
 'Maldonado coast' 'Western Banks' 'Andaman Islands'
 'Off the coast of West Africa' 'Misamis Oriental' 'Strait of Messina'
 'Hoogly River' 'Cyclades archipelago' 'Mount Lebanon'
 'Between Hastings & Fairlight, Sussex' 'Gilbert Islands'
 'Lomaiviti Provine' 'Off the coast of South America' '22ºN, 88ºE'
 'Matanzas Province (north coast)' 'Alpes Maritime' 'Edinburgh'
 'Eastern Catalona' '300 miles east of Mauritius' 'Foveaux Strait'
 'Sumatra' 'Conakry Region' 'Corfu' 'Malaga' 'Bonin Islands'
 'Fernando Po Island' 'Mangaia Island' 'Between Australia & USA'
 'Tongatapu' 'Norfolk' 'Island of St. Thomas' 'Cumberland'
 'Sanma Province' "35º39 : 165º8'" 'CUBA' 'Paraiba' 'Cape Coast'
 'Rivers State' 'St. Anne' 'St Helena' 'Skagerrak arm of the North Sea'
 'Las Perlas archipelago' 'Bardestrand' 'Southwest coast' 'Quebec'
 'Kerala' 'Nice & Marseilles' 'Magarita or Cubagua Islands' 'Yucatan'
 'Ionian Sea' 'Piraeus' 'Off Thessaly' 'Paloma' 'Bocas del Toro Province'
 'Gulf of Tadjoura' 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Malaita Province' 'South Korea'
 'Milne Bay  Province' 'Island of Volos' 'Amirante Islands'
 'Kadavu Island Group' 'Toamasina Province' 'Riau Province' 'Bikini Atoll'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island']

In [134]:
# Data Cleaning for the Column Activity 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs more cleaning

In [ ]:
df.isna().sum()

In [ ]:
# Data Cleaning for the Column 'Name' 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs to be furthered cleaned

In [ ]:
# Data Cleaning for the Column Age

In [161]:
# Data Cleaning for The Column Fatal
df["Fatal"] = df["Fatal"].fillna("Unknown")
df["Fatal"] = df["Fatal"].astype(str)
df["Fatal"] = df["Fatal"].replace({
    "Nan": "Unknown",
    " N": "N",
    "UNKNOWN": "Unknown",
    "F": "Unknown",\
    "M": "N",
    "n": "N",
    "Nq": "N",
     2017: "Unknown",
     "Y x 2": "Y",
     "y": "Y",
     "N   ": "N",
})
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]

In [163]:
df['Fatal'].value_counts(dropna=False)

Fatal
N          4885
Y          1470
Unknown     637
Name: count, dtype: int64