In [179]:
# keep this here pls
!pip install xlrd 
#!pip install country_converter

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.12/site-packages (2.0.1)

In [200]:
import pandas as pd
import numpy as np
import re

#import warnings
#warnings.filterwarnings('ignore')

#define path to xls
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)
df  # 6992 rows × 23 columns

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6988,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6989,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6990,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6991,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [125]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6987,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6988,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6989,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6990,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6991,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [201]:
df.shape[0]
df.shape[1]

print("Number of Rows: ", df.shape[0])
print("Number of Columns: ", df.shape[1])

df.columns

# Issues w/ og file –> extra 8 columns on VSC? to preserve NaN
# Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Fatal Y/N, Time, Specie, Source
# check search tool between uppercase and lowercase e.g. Australia / AUSTRALIA

Number of Rows:  6992
Number of Columns:  23

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [128]:
# df.columns

In [202]:
df.rename(columns= {
    'Fatal Y/N': 'Fatal',
    'Species ': 'Species',
    'pdf': 'PDF', 
    'Sex': 'Gender',
    'href formula': 'Href_formula', 
    'href': 'Href',
    'Case Number': 'Case_Number', 
    'Case Number.1': 'Case_Number_1',
    'original order': 'Original_Order', 
    'Unnamed: 21': 'Unnamed_21', 
    'Unnamed: 22': 'Unnamed_22'
}, inplace=True)
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Gender', 'Age', 'Injury', 'Fatal', 'Time', 'Species', 'Source',
       'PDF', 'Href_formula', 'Href', 'Case_Number', 'Case_Number_1',
       'Original_Order', 'Unnamed_21', 'Unnamed_22'],
      dtype='object')

In [203]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Gender             object
Age                object
Injury             object
Fatal              object
Time               object
Species            object
Source             object
PDF                object
Href_formula       object
Href               object
Case_Number        object
Case_Number_1      object
Original_Order    float64
Unnamed_21         object
Unnamed_22         object
dtype: object

In [204]:
# Here I am trying to identify the number of unique values for each column and determine which columns appear to be categorical. 
unique_counts = df.nunique() # Identify the number of unique values for each column
print("\nUnique value counts per column: ")
print(unique_counts)

Unique value counts per column:
Date              6040
Year               261
Type                12
Country            239
State              920
Location          4553
Activity          1598
Name              5726
Gender               8
Age                246
Injury            4121
Fatal               12
Time               434
Species           1706
Source            5345
PDF               6789
Href_formula      6784
Href              6776
Case_Number       6777
Case_Number_1     6775
Original_Order    6797
Unnamed_21           1
Unnamed_22           2
dtype: int64

In [205]:
#Checking for null values in each column 
df.isna().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Gender             True
Age                True
Injury             True
Fatal              True
Time               True
Species            True
Source             True
PDF                True
Href_formula       True
Href               True
Case_Number        True
Case_Number_1      True
Original_Order     True
Unnamed_21         True
Unnamed_22         True
dtype: bool

In [187]:
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Gender             579
Age               2994
Injury              35
Fatal              561
Time              3526
Species           3132
Source              19
PDF                193
Href_formula       198
Href               196
Case_Number        194
Case_Number_1      195
Original_Order     193
Unnamed_21        6991
Unnamed_22        6990
dtype: int64

In [206]:
df.duplicated().sum()

0

In [207]:
df.duplicated().any()

False

In [190]:
df.describe()

              Year  Original_Order
count  6990.000000     6799.000000
mean   1935.018598     3401.152081
std     272.082794     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1986.000000     3401.000000
75%    2009.000000     5100.500000
max    2026.000000     6802.000000

In [208]:
#Count the number of null values in each column
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Gender             579
Age               2994
Injury              35
Fatal              561
Time              3526
Species           3132
Source              19
PDF                193
Href_formula       198
Href               196
Case_Number        194
Case_Number_1      195
Original_Order     193
Unnamed_21        6991
Unnamed_22        6990
dtype: int64

In [209]:
df.Type.unique()

array(['Unprovoked', 'Provoked', ' Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [210]:
print(df["Type"].value_counts())

Type
Unprovoked             5153
Provoked                637
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [211]:
print(df["Type"].value_counts(dropna=False)) # I wanted to review the Nan

Type
Unprovoked             5153
Provoked                637
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
NaN                      18
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [212]:
#df_nan = df[df["Type"].isna()]
#df_nan

#3df["Type"] = df["Type"].isnull().sum

In [213]:
# Data Cleaning for the Column 'Type' 

#Reviewing how many were provoked and unprovoked 
print(df["Type"].unique())
# What is the meaning in here as "Provoked"??

['Unprovoked' 'Provoked' ' Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']

In [214]:
df["Type"] = df["Type"].str.strip()
df["Type"] = df["Type"].replace({
    " Provoked": "Provoked", 
    "Unconfirmed": "Unknown",
    "?" : "Unknown",
    "Invalid": "Unknown",
    "Under investigation": "Unknown",
    "Questionable": "Unknown", 
    "Watercraft" : "Water Vehicle", 
    "Boat" : "Water Vehicle"

})

df["Type"] = df["Type"].fillna("Unknown")
print(df["Type"].unique())

['Unprovoked' 'Provoked' 'Unknown' 'Water Vehicle' 'Sea Disaster'
 'Unverified']

In [215]:
print(df["Type"].unique())

['Unprovoked' 'Provoked' 'Unknown' 'Water Vehicle' 'Sea Disaster'
 'Unverified']

In [216]:
# Data Cleaning for the Column Gender
df["Gender"] = df["Gender"].replace({
    " M": "M", 
    "M ": "M", 
    "M x 2": "M", 
    " nan": "Unknown", 
    "lli": "Unknown", 
    "N": "M", 
    ".": "Unknown"
    })
df["Gender"] = df["Gender"].fillna("Unknown")
df.Gender.unique()

array(['M', 'F', 'Unknown'], dtype=object)

In [238]:
df["Species"].unique()
print(df_Species.unique()[:600])

['Unknown' 'Bronze whaler' 'Reportedly Tiger or Bull shark'
 'Great White Shart estimated 4.8m 16 ft' 'Reportedly a Tiger Shark'
 'Unknown ' '1m shark species unknown' 'Great White Shark'
 'Reported as a large Tiger shark' 'Bull or tiger 7-8ft' 'Bull shark'
 'Bull shark 6ft' 'Bull shark 6-7ft' 'Reportedly a Great White'
 'Reportedly Tiger Shark' 'Reef shark 6ft (1.8m)' '3m White Shark'
 'Undetermined small shall shark' '4-5ft Blacktip shark' 'Bull shark 6 ft'
 '6 ft shark' '6ft shark' 'Not stated area has Tiger and Galapogas sharks'
 'Not specified Bull shark highly suspect' 'Large shark' '2.5m shark'
 '3m Sandbar shark' 'Bull shark 3m ' 'Carribean reef shark 7ft'
 'Great White' 'Tiger shark' "Tiger shark 8'" "3' to 4' shark"
 "Bull shark, 7'" 'Blacktip reef shark' nan 'White shark'
 'Raggedtooth shark' "White shark, 13'" 'Broze whaler?' 'Sevengill shark'
 'Shark involment not confirmed' '1.8m bull shark' 'Lemon shark'
 'Oceanic whitetip shark' 'White Shark, 4.5 m' "8' tiger shark"
 "Bronze whaler, 6'" "Nurse shark, 5' to 6'" "10' tiger shark"
 "10' to 12' Galapagos shark" 'Tiger shark?' 'Cookiecutter sharks'
 'White shark, 3.8-4.2m' 'Blue shark' 'Wfite shark' 'Wobbegong shark'
 "8' shark" "4' shark" "3' shark" 'Sand tiger shark' 'Tiger sharks'
 "Tiger shark, 13'" 'Caribbean rreef shark' 'Grey reef shark, 2 m'
 'Caribbean reef shark' 'Shark involvement not confirmes'
 '18" - 23" Horn shark' "Bull shark, 4'" '1m shark' "Bull shark, 6'"
 'Bronze whaler shark, 1.5 m' "Tiger shark, 8'-10'"
 "Blacktip reef shark 5'" 'Authorities report injury caused bya barracuda'
 '5m to 6m shark' 'A small shark' 'Mako shark' 'Nurse shark' 'Blacktip'
 'Tiger  shark?' 'Juvenile white shark' "5'shark" '3m shark'
 'Juvenile nurse shark' 'Bu.ll' 'White shark, 3 m' 'Blacktip shark'
 "Bull shark, 9'" 'Blacktip shark?' "6' shark"
 'Shark involvement not confirmed' "Lemon shark  6'" '"A small shark"'
 "Thought to involve a 4' sandtiger shark"
 'Oceaniic whitetip shark/tiger shark'
 'Oceaniic whitetip shark/tiger shark, 2m shark' "9' shark" 'While shark'
 "Tiger shark, 15'" "White shark, 16'" 'Bronze whaler shark, 2m'
 "5' shark" 'Atlantic blacktip shark' 'Tiger shark, 2 to 2.5m'
 'Epaulette shark' "Blacktip shark, 5' to 6'" 'Tiger shark, 3 m'
 'Bull shark, 3m' 'Blacktip or spinner shark' 'dogfish'
 'Broadnose seven gill shark' 'No shark invovlement ' 'White xhark'
 'small blacktip shark' 'Sickelfin lemon shark, 3m' 'Bull shark, +100kg'
 'White shark, 3m' " Spinner shark, 4'?" "2' to 3' shark"
 'Said to involve a bull shark' 'Galapagos shark' "White shark, 6' to 8'"
 "7' to 8' shark " "Tope shark, 6'" 'Bronze whaler shark, 2 m'
 'White shark, 4.5 m' '5 to 8-ff tiger shark' '8 ft shark' '5.5 ft shark'
 'Mako shark, 4 juvenile' '1.3m shark' 'Whaler or bull shark, 2m'
 "3' to 5' shark" '  ' 'Blacktip whaler,      Carcharhinus tilstoni, 2m'
 "Blacktip shark, 6'" 'Tiger shark, 4 m' 'Bull shark, 80cm'
 'Bronze whaler shark' 'Juvenile shark' ' ' '8" shark'
 "Bull shark, 6.5 to 10 '" 'Tiger shark. 14\'3"' 'Tiger shark, 4m '
 "Blacktip shark, 6' to 7'" '"Reef shark"' '4m shark' 'Bronze whaler 1.5m'
 'Small nurse shark' 'Injuries not caused by a shark' '"whitetip shark"'
 "4' to 5' shark" 'Nurse shark, juvenile' 'White shark, 2-to 3m'
 "Nurse shark, 5'" 'Blacktip or Spinner shark' 'White shark, 4m'
 "Lemon shark, 8'" 'Blacktip reef shark, juvenile' "White shark, 11'?"
 "Reef shark, 5' to 6 '" "Bull shark. 6.5'" "Bull shark, 4' to 6'"
 '2 m shark' 'White shark, 2.5 m' 'Juvenile bull shark?'
 'White shark, 3.5 m'
 'Shark involvement unconfirmed but considered probable' "Bull shark, 8'"
 'Angel shark' "5' to 6' shark" 'White shark, 2.5 to 3 m'
 'Broadnose seven gill shark?'
 'Shovelnose "shark" which is a ray, not a shark)' '3.4 m tiger shark'
 "10'-12' tiger shark" 'Juvenile blacktip shark' "5' blacktip shark"
 "4' to 5' blacktip shark" 'White shark, 4 m' 'Juvenile white shark?'
 "7' shark" '1+ m shark' "6' to 7' shark" "2' shark"
 "Galapagos shark, 5'-9'" "14' white shark" "6.5' shark"
 'Grey reef shark 1.5m' "10' to 12' shark" 'Cookiecutter shark'
 "Blacktip shark, 5' " 'Sandtiger shark' 'shark pup'
 'White shark, juvenile' 'Bull shark pup' "Bull shark, 4' to 5'"
 'Bull shark, 3.5 m' 'Tiger shark, 4m to 5m' 'Lemon shark pup'
 'Grey nurse shark, 3 m female' "12' shark" "Grey reef shark, 4' "
 'Spinner shark' '2.5 m shark' 'Reef shark, '
 'Reported as shark bite but injury caused by stingray'
 'Reported as shark attacks but injuries caused by toadfish'
 'White shark, 4.6m' "Mako shark, 7'" 'Bronze whaler 2.5m'
 'Reef shark x 2' "White shark, 17' female" 'Bull shark?'
 'White Shark, 3.2m to 3.5m' 'White shark, 5m female' '"reef shark"'
 "White shark, 11'" "Tiger shark, 10' to 12'" 'Blue shark, 47kg'
 "5' to 8' shark" 'Reef shark' "Said to involve a bull shark, 5' to 6'"
 'Said to involve a blacktip shark' 'Salmon shark, juvenile'
 'Injury most likely caused by barracuda, not a shark' 'Tiger shark, 3m'
 "Lemon shark, 3'" 'Grey reef shark' 'Invalid incident'
 'Tawny nurse shark, 2m' "Sandtiger shark'" 'Questionable' '3 m shark'
 'Juvenile bull shark' "Tiger shark, 12'" '3.5 m shark' '1.8 m shark'
 'Juvenile white shark,  2.7 to 3.2 m' 'Bull shark, 2 m'
 'Possibly a wobbegong' 'Injury believed caused by an eel, not a shark'
 'Galapagos shark?' '2m shark' 'Bull shark, 3 m ' 'Sicklefin Lemon Shark,'
 'Grey reef shark. 2 m' 'small shark' 'Wobbegong shark?' "Nurse shark. 5'"
 'Great White 6.0m' 'Tiger shark, female'
 'Some drowned but other may have been killed by blue sharks'
 'White shark, 4.6 m' 'Wobbegong shark, 1 m' 'Spinner shark, 4 to 5 feet'
 'Tiger shark, 8 to 10 feet' 'Porbeagle, 1.5 m' 'White shark, 3.5m'
 'White shark, 3 to 3.5m ' 'Shark involvement questionable'
 "White shark, 5' to 7'" 'Possibly a juvenile blacktip shark'
 'Oceanic whitetip shark, 1.8 to 2 m' "White shark, 10'"
 "Sandtiger shark  2'" "Blue shark 6'" "White shark, 11' to 13'"
 "White shark, 8' to 10'" "White shark, 9'" 'Tiger shark, 100 kg'
 'Shark involvement prior to death not confirmed' 'Bull shark, 2m'
 'Seven-gill shark' '3m shark, probably a smooth hound'
 'Shark involvement highly doubtful'
 'No shark invovlement - it ws a publicity stunt' "Bull shark, 5' to 7'"
 "10' shark" 'Bull shark, 1.5' "White shark, female, 14'"
 'Bull shark, 4 m' 'Bull shark, 1 m' 'a small shark' 'Wobbegong shark, 2m'
 'Broadnose sevengill shark, 1.5 m' " 6' to 8' shark" "Tiger shark, 10'"
 "Tiger shark, 10' " "Nurse shark, 4'" 'reef shark, 1m'
 "White shark, 10' to 12'" "Lemon shark, 9'" 'dogfish shark'
 'Tawny nurse shark' "Caribbean reef shark, 4.5'"
 "Said to involve an 8' shark but more likely damage caused by debris"
 '3+ m shark' 'Bronze whaler sharks x 3' "Blacktip shark, 4'"
 "Nurse shark, 2'" "Mako shark, 1.5 m [5'] " 'Blacktip shark, juvenile'
 'Tiger shark, 2.5 m' 'Nurse shark, 2.5-ft' 'No shark involvement'
 "Reef shark, 5'" 'Bull sharks x 2' "Tiger shark, 14'" "Silky shark, 6.5'"
 "Bronze whaler shark, 6'" 'Tiger shark, 1.5 m ' "Spinner shark, 7'"
 'Bull shark, 2.8 to 3.1 m' "Spinner shark, 5'" "Tiger shark, 7'"
 'Hammerhead sp.' "Tiger shark, 13' " "Blacktip shark, 4' to 5'"
 "White shark, 19'" 'juvenile shark' 'Hammerhead shark'
 "White shark, 11' to 12'" 'Hammerhead shark.' "4' shark?"
 "White shark, 10' to 12' " "Hammerhead shark. 6' to 7'"
 "Blacktip or spinner shark, 4'"
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed"
 'White shark, 3.9 to 4.2 m' 'Mako shark, 100-lb'
 'Bronze whaler shark, 1.5m' "White shark, 7'"
 'Shark involvement not cofirmed' 'White shark, 2m to 3 m'
 "Bull shark, 5'" 'small nurse shark' 'Bull shark, 2.5 m'
 '1m to 1.2 m shark' '3- to 4-foot shark' 'White shark, 6 m'
 'Blue shark, 8 to 9 feet' 'Tiger shark, 8 to 12 feet'
 'Blacktip Reef shark ' 'Tiger shark, 3.5 m' '3.5 to 4 m shark'
 '2 m to  3 m shark' 'Bull shark, 1.3 m' '5 m shark' '1.5 m shark'
 'White shark or oceanic whitetip shark' 'Raggedtooth shark, 1.3 m'
 'White shark, 4 to 5 m'
 'Shark involvement prior to death still to be determined'
 'Shark involvement not confirmed & highly unlikely' 'Goblin shark'
 '1 m shark' "Bull shark, 3' to 4'" "White shark, 18' to 20'"
 "8' to 10' shark" '2 white shark: 13\' & 9"8"' "White shark, 12' to 14'"
 'Spinner shark or blacktip shark' "4' to 6' shark" "Bull shark, 4.5' "
 'reef shark' " Bull shark, 8'" "Bull shark, 9' to 10'" " Bull shark, 5'"
 "4' tp 5' shark" 'Possibly juvenile tiger shark' '1.8 metre shark'
 "6' to 8' shark" " White shark, 7' " "Oceanic whitetip shark'"
 "Caribbean reef shark, 7' to 8'" ' Lemon shark, 3.5 m'
 " Sandbar shark, 3' to 4'" ' Bull shark, 1.2m ' ' Tawney nurse shark, 1m'
 " white shark, 15' " 'Cow shark' 'reef shark?' ' Raggedtooth shark, 2m'
 '3 m to 4 m white shark' 'Blacktip or spinner shark?'
 'Blacktip reef shark ' '7-gill shark?' '7-gill shark'
 'Reported to involve a bull shark' 'White shark, 3m '
 ' Wobbegong shark, 1.6 to 1.8m ' 'Tiger shark, 3m '
 'Thought to involve a white shark' "White shark, 10 '"
 'Reported to involve a white shark' 'Blacktip reef shark, 1m'
 'Thought to involve a bull shark' 'Reported to involve a 4 m white shark'
 "Whitetip reef shark, 4' to 6'" 'Nurse shark?' 'Small bull shark'
 'Salmon shark' "Mako shark, 5'" "Bull shark, 6' to 8'"
 "Tiger shark, 8' to 10' " "Possibly a Bull shark, 3'" "Lemon shark, 4'"
 'Wobbegong, 2m' 'Grey nurse shark, 3m' 'Possibly a blacktip reef shark'
 'shark involvement not confirmed' 'Raggedtooth shark, 1.5 m'
 'Tiger shark, 4.8 m' 'Bronze whaler shark, 2.5m' '"small sharks"'
 'White shark, 5m' 'Bronze whaler shark, 3m' 'Bull shark, 2m '
 "Tiger shark, 6'" "Tiger shark, 8'" "Tiger shark, 10' to 12' "
 "White shark, 15' to 16' " 'Possibly a 3 m bull shark' "3.5' to 4' shark"
 "Porbeagle shark, 7'" '4.5 m shark' "Lemon shark, 4' to 5' "
 'Lemon shark, 2.5m to 3m ' 'White shark or bronze whaler'
 'Salmon shark suspected, but unlikely' "14' to 18'shark" "15' shark"
 'possibly a bull shark' 'a small reef shark' 'small blacktip shark?'
 'Blacktip shark ' 'Blue shark, 2.5m' 'White shark, 2 m'
 '18" to 24" shark' "Tiger shark, 8' to 9' " 'White shark, 4 m to 5m '
 'White shark, 6m ' "Tiger shark, 10'  " 'White shark, 4m '
 'Possibly a bull shark' "Possibly a 5' to 6' bull shark"
 'Tawny nurse shark, 40cm' 'Grey nurse shark' 'White shark, 7m'
 'Blue shark, 70-kg blue shark' 'White shark, 2.7 m'
 'Allegedly a 4 m tiger shark' 'White shark, 2.5m'
 "White shark, 15' to 16'" "White shark, 15'" 'Port Jackson shark, 1m'
 '2 to 2.5 m shark' 'Tiger shark, 2m'
 "6' shark, possibly a blactip or spinner shark" "White shark, >6'"
 "Possibly a 5' to 6' sandtiger shark" '4 m shark' 'Grey reef shark '
 'White shark, 3m to 4m' 'Bull shark, 3m female' "White shark, 5' k"
 "Oceanic whitetip shark, 7'" "Sevengill shark, 6' to 8'" 'Zambesi shark'
 ' Tiger shark, 2.8m' "Sandbar shark, 8'" "Bull shark, 12'"
 'reef shark, 1.5m' "1' to 2' shark" 'possibly a bronze whaler shark'
 ' Bull shark, 2.5 m' 'Blacktip shark pup' 'Bull shark, 2.5m'
 '3 m to 4 m shark' 'White shark x 2' 'Oceanic whitetip shark, 2.5m '
 'Mako shark ' 'Oceanic whitetip shark, 2.5m, female'
 "Porbeagle shark, 8' " "White shark, 14' to 18' " 'Bull shark, 1.4m '
 "Possibly a 6' lemon shark"
 'Shark involvement prior to death was not confirmed'
 'Possibly a small blacktip shark' "Sandtiger shark, 4' to 5'"
 'A small spinner shark' 'Nurse shark, juvenile ' "Blue shark, 7'"
 '20 to 30kg shark' "Lemon shark, 6'" "14' shark"
 "Oceanic whitetip shark, 6'" 'Possibly a blue shark'
 'Wobbegong shark, 1.6m' '2 m to 3 m shark' "Spinner shark, 6'"
 'Thought to involve a juvenile hammerhead shark'
 'Whitetip reef shark, 1m' 'Zambesi shark, 2m ' 'White shark, 2.8 to 3 m '
 "Sandtiger shark, 8'" 'Thresher shark' "Bull shark, 10'" 'Spurdog'
 "White shark, 5' to 6' juvenile " 'White shark, 2m' 'Tiger shark, 12'
 "Caribbean reef shark, 6'" "Nurse shark, 6'"
 'Thought to involve a Bronze whale shark, 2m'
 'Shark involvement probable, but not confirmed'
 'Oceanic whitetip shark, 2.5 to 3m' '80 kg shark'
 'blacktip or spinner shark' "White shark, 12' to 15' female"
 'Bronze whaler shark?' 'Blacktip reef shark pup'
 'Thought to involve a cookiecutter shark' 'Wobbegong shark, 60cm'
 'Blue shark, 1m' '2.6 m shark' 'White shark, 2.5m ' 'Bull shark, 2.7 m '
 "White shark, 12' " 'White shark, 5.5 m ' 'White sharks'
 'Dusky shark, 2m' 'Mako shark, 3m' 'Broadnose sevengill shark'
 'White shark, 4m to 5m ' '4 to 5m white shark' 'Raggedtooth shark, 2m'
 'White shark, 4.5 to 5 m ' 'Zambesi shark?' ' reef shark, 1.8m'
 '5 m white shark' "+3' shark" "2' to 3' juvenile shark"
 "White shark, 14' to 16' " "8' bull shark or Caribbean reef shark"
 "8' white shark or 7-gill shark" "3'  shark" "2'  shark"
 "2' to 3' reef shark" 'Starry smoothhound shark, 1m'
 "Bull shark, 6' to 7'" 'White shark, 4.5m' "4.5 to 5' shark"
 'Basking shark' 'Tiger sharks in area' '2 small bull sharks'
 'Bull shark, 1.8m' "White shark, 12' to 15'" 'Tiger shark, 2.3m '
 "Tiger shark, 13' female"
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed'
 'Shark involvement not confirmed; thought to be a barracuda bite'
 "1.5' to 2' shark" "2.5' shark"
 'A bull shark, according to some of the divers on the boat'
 "Goblin shark, 4.2'" 'Blacktip shark, 2m' 'Mako shark, 90kg'
 'Bronze whaler shark, 4m' "Nurse shark, 10'"
 'Possibly a hammerhead shark' '"a small shark"'
 'Not a shark attack; it was a hoax' '2.27 m shark' '1.5 to 2 m shark'
 "Blacktip shark, 5'" 'Oceanic whitetip sharks were in the vicinity'
 'Gray reef shark' "9.5' shark?" "Nurse shark, 2' to 3' "
 'Possibly a spinner shark' "White shark, 12'" 'Sand shark'
 "Possibly a 6' bull shark" "Possibly a 10' bull shark"
 'Bronze whaler shark, 1.5 m '
 "3' small spotted catshark, Scyliorhinus canicula" "Bull shark, 5' "
 'Questionable Incident' "Lemon shark, 6' female "
 'A 10-year-old 94-pound pregnant blacktip reef shark'
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length'
 'White shark, 2m ' "Tiger shark, 14' " 'Lemon shark, >1 m '
 "Bull shark, 10' " '2.4 m shark']

In [249]:
#Data Cleanining for the Column 'Species'
#df["Species"].unique() df["Species"] = df["Species"]
#df["Species"]
#df.Species.unique()

df_Species = df["Species"].fillna("Unknown").astype(str)

def clean_shark_name(species): 
    species = species.strip().lower()

    match = re.search(r"(great white|white|tiger|bull|hammerhead|blacktip|whale|nurse|mako|reef)s*shark", species)

    if match:
        return match.group(0).title()
    else: 
        return "Other/Unknown"

df_Species = df_Species.apply(clean_shark_name)

df_Species = df_Species.replace({
    "Not stated": "Unknown",
    "Not specified": "Unknown",
    "Invalid": "Unknown"
}) 

print(df_Species.value_counts())  # Check unique values
print(df_Species.tail())  # Display first few rows
#print(df_Species.nunique()) 
#print(df_Species.unique()[:100])

Species
Other/Unknown    6992
Name: count, dtype: int64
6987    Other/Unknown
6988    Other/Unknown
6989    Other/Unknown
6990    Other/Unknown
6991    Other/Unknown
Name: Species, dtype: object

In [246]:
df_Species
#print(df.Species)

0                                      Unknown
1                                Bronze whaler
2                                      Unknown
3               Reportedly Tiger or Bull shark
4       Great White Shart estimated 4.8m 16 ft
                         ...
6987                                       NaN
6988                                       NaN
6989                                       NaN
6990                                       NaN
6991                                       NaN
Name: Species, Length: 6992, dtype: object

In [ ]:
df_Species.fillna("Unknown") # Filling every 0's with unknown 


df_Species

0                                      Unknown
1                                Bronze whaler
2                                      Unknown
3               Reportedly Tiger or Bull shark
4       Great White Shart estimated 4.8m 16 ft
                         ...
6987                                       NaN
6988                                       NaN
6989                                       NaN
6990                                       NaN
6991                                       NaN
Name: Species, Length: 6992, dtype: object

In [ ]:
df["Species"] = df["Species"].str.extract(r'([A-Za-z\s-]+)').fillna("Unknown") # Cleaning here the unnecessary details
df

In [ ]:
df["Species"] = df["Species"]

In [ ]:
#df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [155]:
# Data Cleaning for the column 'Country', I've tried to use regex 
df["Country"] = df["Country"].str.strip().str.title()
df["Country"] = df["Country"].str.replace(r"[^a-zA-Z\s]", "", regex=True)
#df["Country"] = df["Country"].map(lambda x: x.upper())
df["Country"] = df["Country"].fillna("Unknown")
print(df["Country"].unique())

['Australia' 'Usa' 'New Caledonia' 'Egypt' 'Thailand' 'New Zealand'
 'Maldives' 'Hawaii' 'Honduras' 'Morocco' 'Jamaica' 'Belize'
 'Maldive Islands' 'Turks And Caicos' 'French Polynesia' 'Tobago'
 'Bahamas' 'India' 'Trinidad' 'South Africa' 'Mexico' 'Philippines'
 'Coral Sea' 'Spain' 'Portugal' 'Samoa' 'Colombia' 'Ecuador' 'Cuba'
 'Brazil' 'Seychelles' 'Argentina' 'Fiji' 'England' 'Japan' 'Indonesia'
 'Columbia' 'Costa Rica' 'British Overseas Territory' 'Canada' 'Jordan'
 'St Kitts  Nevis' 'St Martin' 'Papua New Guinea' 'Reunion Island'
 'Israel' 'China' 'Ireland' 'Italy' 'Malaysia' 'Libya' 'Unknown'
 'Mauritius' 'Solomon Islands' 'St Helena British Overseas Territory'
 'Comoros' 'Reunion' 'United Kingdom' 'United Arab Emirates' 'Cape Verde'
 'Dominican Republic' 'Cayman Islands' 'Aruba' 'Mozambique' 'Puerto Rico'
 'Atlantic Ocean' 'Greece' 'France' 'Trinidad  Tobago' 'Kiribati'
 'Diego Garcia' 'Taiwan' 'Palestinian Territories' 'Guam' 'Nigeria'
 'Tonga' 'Scotland' 'Croatia' 'Saudi Arabia' 'Chile' 'Antigua' 'Kenya'
 'Russia' 'Turks  Caicos' 'United Arab Emirates Uae' 'Azores'
 'South Korea' 'Malta' 'Vietnam' 'Madagascar' 'Panama' 'Somalia' 'Nevis'
 'British Virgin Islands' 'Norway' 'Senegal' 'Yemen' 'Gulf Of Aden'
 'Sierra Leone' 'St Maartin' 'Grand Cayman' 'Liberia' 'Vanuatu'
 'Venezuela' 'Sri Lanka' 'Uruguay' 'Micronesia' 'Caribbean Sea' 'Okinawa'
 'Tanzania' 'Marshall Islands' 'Egypt  Israel' 'Northern Arabian Sea'
 'Hong Kong' 'El Salvador' 'Angola' 'Bermuda' 'Montenegro' 'Iran'
 'Tunisia' 'Namibia' 'North Atlantic Ocean' 'South China Sea' 'Bangladesh'
 'Palau' 'Western Samoa' 'Pacific Ocean' 'British Isles' 'Grenada' 'Iraq'
 'Turkey' 'Singapore' 'New Britain' 'Sudan' 'Johnston Island'
 'South Pacific Ocean' 'New Guinea' 'Red Sea' 'North Pacific Ocean'
 'Federated States Of Micronesia' 'Mid Atlantic Ocean' 'Admiralty Islands'
 'British West Indies' 'South Atlantic Ocean' 'Persian Gulf'
 'Red Sea  Indian Ocean' 'North Sea' 'Nicaragua' 'American Samoa'
 'Andaman  Nicobar Islandas' 'Gabon' 'Mayotte' 'The Balkans' 'Martinique'
 'Indian Ocean' 'Guatemala' 'Netherlands Antilles'
 'Northern Mariana Islands' 'Iran  Iraq' 'Java' 'Central Pacific'
 'Solomon Islands  Vanuatu' 'Southwest Pacific Ocean' 'Bay Of Bengal'
 'MidPacifc Ocean' 'Slovenia' 'Curacao' 'Iceland' 'Italy  Croatia'
 'Barbados' 'Monaco' 'Guyana' 'Haiti' 'San Domingo' 'Kuwait'
 'Falkland Islands' 'Crete' 'Cyprus' 'West Indies' 'Burma' 'Lebanon'
 'Paraguay' 'British New Guinea' 'Ceylon' 'Ocean' 'Georgia' 'Syria'
 'Tuvalu' 'Guinea' 'Andaman Islands' 'Equatorial Guinea  Cameroon'
 'Cook Islands' 'Peru' 'Africa' 'Algeria' 'Coast Of Africa' 'Tasman Sea'
 'Ghana' 'Greenland' 'Mediterranean Sea' 'Sweden' 'Roatan'
 'Between Portugal  India' 'Djibouti' 'Bahrein' 'Korea' 'Asia'
 'Ceylon Sri Lanka']

In [ ]:
# Cleaning for location
df["Location"] = df["Location"].astype(str)
df["Location"] = df["Location"].map(lambda x:x.upper())
df["Location"] = df["Location"].fillna("Unknown")
df["Location"] = df["Location"].str.strip()
df["Location"] = df["Location"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown", 
})

In [ ]:
# Data Cleaning for the Column 'State'
#df["State"] = df["State"].
df["State"] = df["State"].fillna("Unknown")
df["State"] = df["State"].astype(str)
df["State"] = df["State"].str.strip()
df["State"] = df["State"].replace({
    "NAN": "Unknown",
    "nan": "Unknown",
    "Nan": "Unknown", 
    " ": "Unknown",
    "  ": "Unknown"
})
print(df["State"].unique())

In [ ]:
# Data Cleaning for the Column Activity 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs more cleaning

In [ ]:
df.isna().sum()

In [ ]:
# Data Cleaning for the Column 'Name' 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs to be furthered cleaned

In [ ]:
# Data Cleaning for the Column Age
# df["Age"] = df["Age"].astype()
# df["Age"] = df["Age"]
# df["Age"] = df["Age"]

In [ ]:
# Data Cleaning for The Column Fatal
df["Fatal"] = df["Fatal"].fillna("Unknown")
df["Fatal"] = df["Fatal"].astype(str)
df["Fatal"] = df["Fatal"].replace({
    "Nan": "Unknown",
    " N": "N",
    "UNKNOWN": "Unknown",
    "F": "Unknown",\
    "M": "N",
    "n": "N",
    "Nq": "N",
     2017: "Unknown",
     "Y x 2": "Y",
     "y": "Y",
     "N   ": "N",
})
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]

In [ ]:
df['Fatal'].value_counts(dropna=False)

In [ ]:
df_count = df.groupby("Year")["Date"].count()
df_count

In [ ]:
df_count = df.groupby("Year")["Date"].count()
df_count[df_count.index > 1750].plot()

In [ ]:
df_count#.isna().sum()

In [ ]:
df[df["Year"] == 5]

In [ ]:
df["Country"].value_counts()

In [ ]:
df_usa = df[df["Country"] == "USA"]
df_usa

In [ ]:
df_usa["Date"] = pd.to_datetime(df_usa["Date"])

In [ ]:
df_usa["Date"].value_counts()

In [ ]:
pd.to_datetime(df_usa["Data_Clean"])