In [ ]:
# keep this here pls
!pip install xlrd 
#!pip install country_converter

In [ ]:
import pandas as pd
import numpy as np
import re
#import warnings
#warnings.filterwarnings('ignore')

In [295]:
#define path to xls
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)
df  # 6992 rows × 23 columns

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6988,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6989,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6990,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6991,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
df.head()

In [ ]:
df.tail()

In [334]:
df.shape[0]
df.shape[1]

print("Number of Rows: ", df.shape[0])
print("Number of Columns: ", df.shape[1])

df.columns

# Issues w/ og file –> extra 8 columns on VSC? to preserve NaN
# Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Fatal Y/N, Time, Specie, Source
# check search tool between uppercase and lowercase e.g. Australia / AUSTRALIA

Number of Rows:  6992
Number of Columns:  24

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Gender', 'Age', 'Injury', 'Fatal', 'Time', 'Species', 'Source',
       'PDF', 'Href_formula', 'Href', 'Case_Number', 'Case_Number_1',
       'Original_Order', 'Unnamed_21', 'Unnamed_22', 'Species_Types'],
      dtype='object')

In [ ]:
# df.columns

In [296]:
df.rename(columns= {
    'Fatal Y/N': 'Fatal',
    'Species ': 'Species',
    'pdf': 'PDF', 
    'Sex': 'Gender',
    'href formula': 'Href_formula', 
    'href': 'Href',
    'Case Number': 'Case_Number', 
    'Case Number.1': 'Case_Number_1',
    'original order': 'Original_Order', 
    'Unnamed: 21': 'Unnamed_21', 
    'Unnamed: 22': 'Unnamed_22'
}, inplace=True)
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Gender', 'Age', 'Injury', 'Fatal', 'Time', 'Species', 'Source',
       'PDF', 'Href_formula', 'Href', 'Case_Number', 'Case_Number_1',
       'Original_Order', 'Unnamed_21', 'Unnamed_22'],
      dtype='object')

In [335]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Gender             object
Age                object
Injury             object
Fatal              object
Time               object
Species            object
Source             object
PDF                object
Href_formula       object
Href               object
Case_Number        object
Case_Number_1      object
Original_Order    float64
Unnamed_21         object
Unnamed_22         object
Species_Types      object
dtype: object

In [297]:
# Here I am trying to identify the number of unique values for each column and determine which columns appear to be categorical. 
unique_counts = df.nunique() # Identify the number of unique values for each column
print("\nUnique value counts per column: ")
print(unique_counts)

Unique value counts per column:
Date              6040
Year               261
Type                12
Country            239
State              920
Location          4553
Activity          1598
Name              5726
Gender               8
Age                246
Injury            4121
Fatal               12
Time               434
Species           1706
Source            5345
PDF               6789
Href_formula      6784
Href              6776
Case_Number       6777
Case_Number_1     6775
Original_Order    6797
Unnamed_21           1
Unnamed_22           2
dtype: int64

In [ ]:
#Checking for null values in each column 
df.isna().any()

In [ ]:
df.isna().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.duplicated().any()

In [ ]:
df.describe()

In [298]:
#Count the number of null values in each column
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              482
Location           565
Activity           585
Name               219
Gender             579
Age               2994
Injury              35
Fatal              561
Time              3526
Species           3132
Source              19
PDF                193
Href_formula       198
Href               196
Case_Number        194
Case_Number_1      195
Original_Order     193
Unnamed_21        6991
Unnamed_22        6990
dtype: int64

In [ ]:
df.Type.unique()

In [ ]:
print(df["Type"].value_counts())

In [299]:
print(df["Type"].value_counts(dropna=False)) # I wanted to review the Nan

Type
Unprovoked             5153
Provoked                637
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
NaN                      18
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [300]:
#df_nan = df[df["Type"].isna()]
#df_nan

#3df["Type"] = df["Type"].isnull().sum

In [301]:
# Data Cleaning for the Column 'Type' 

#Reviewing how many were provoked and unprovoked 
print(df["Type"].unique())
# What is the meaning in here as "Provoked"??

['Unprovoked' 'Provoked' ' Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']

In [336]:
df["Type"] = df["Type"].str.strip()
df["Type"] = df["Type"].replace({
    " Provoked": "Provoked", 
    "Unconfirmed": "Unknown",
    "?" : "Unknown",
    "Invalid": "Unknown",
    "Under investigation": "Unknown",
    "Questionable": "Unknown", 
    "Watercraft" : "Water Vehicle", 
    "Boat" : "Water Vehicle"

})

df["Type"] = df["Type"].fillna("Unknown")
print(df["Type"].unique())

['Unprovoked' 'Provoked' 'Unknown' 'Water Vehicle' 'Sea Disaster'
 'Unverified']

In [337]:
# Data Cleaning for the Column Gender

df["Gender"] = df["Gender"].replace({
    " M": "M", 
    "M ": "M", 
    "M x 2": "M", 
    " nan": "Unknown", 
    "lli": "Unknown", 
    "N": "M", 
    ".": "Unknown"
    })
df["Gender"] = df["Gender"].fillna("Unknown")
df.Gender.unique()

array(['M', 'F', 'Unknown'], dtype=object)

In [306]:
df["Species"].unique()
print(df["Species"].unique()[:600])

['Not stated' 'Bronze whaler' 'Reportedly Tiger or Bull shark'
 'Great White Shart estimated ' 'Reportedly a Tiger Shark' 'Unknown '
 'm shark species unknown' 'Unknown' 'Great White Shark'
 'Reported as a large Tiger shark' 'Bull or tiger ' 'Bull shark'
 'Bull shark ' 'Reportedly a Great White' 'Reportedly Tiger Shark'
 'Reef shark ' 'm White Shark' 'Undetermined small shall shark' '-'
 'Not specified' ' ft shark' 'ft shark'
 'Not stated area has Tiger and Galapogas sharks'
 'Not specified Bull shark highly suspect' 'Large shark' 'm shark'
 'm Sandbar shark' 'Carribean reef shark ' 'Great White' 'Tiger shark'
 'Tiger shark ' ' to ' 'Blacktip reef shark' 'White shark'
 'Raggedtooth shark' 'Broze whaler' 'Sevengill shark'
 'Shark involment not confirmed' 'm bull shark' 'Lemon shark'
 'Oceanic whitetip shark' 'White Shark' ' tiger shark' 'Nurse shark'
 'Cookiecutter sharks' 'Blue shark' 'Wfite shark' 'Wobbegong shark'
 ' shark' 'Sand tiger shark' 'Tiger sharks' 'Caribbean rreef shark'
 'Grey reef shark' 'Caribbean reef shark'
 'Shark involvement not confirmes' ' - ' 'Bronze whaler shark'
 'Blacktip reef shark ' 'Authorities report injury caused bya barracuda'
 'm to ' 'A small shark' 'Mako shark' 'Blacktip' 'Tiger  shark'
 'Juvenile white shark' 'shark' 'Juvenile nurse shark' 'Bu'
 'Blacktip shark' 'Shark involvement not confirmed' 'Lemon shark  '
 'Thought to involve a ' 'Oceaniic whitetip shark' 'While shark'
 'Atlantic blacktip shark' 'Epaulette shark' 'Blacktip or spinner shark'
 'dogfish' 'Broadnose seven gill shark' 'No shark invovlement '
 'White xhark' 'small blacktip shark' 'Sickelfin lemon shark'
 ' Spinner shark' 'Said to involve a bull shark' 'Galapagos shark'
 'Tope shark' 'Whaler or bull shark' '  ' 'Blacktip whaler'
 'Juvenile shark' ' ' 'Reef shark' 'Bronze whaler ' 'Small nurse shark'
 'Injuries not caused by a shark' 'whitetip shark'
 'Blacktip or Spinner shark' ' m shark' 'Juvenile bull shark'
 'Shark involvement unconfirmed but considered probable' 'Angel shark'
 'Shovelnose ' ' m tiger shark' 'Juvenile blacktip shark'
 ' blacktip shark' ' white shark' 'Grey reef shark ' 'Cookiecutter shark'
 'Sandtiger shark' 'shark pup' 'Bull shark pup' 'Lemon shark pup'
 'Grey nurse shark' 'Spinner shark'
 'Reported as shark bite but injury caused by stingray'
 'Reported as shark attacks but injuries caused by toadfish'
 'Reef shark x ' 'reef shark' 'Said to involve a blacktip shark'
 'Salmon shark' 'Injury most likely caused by barracuda'
 'Invalid incident' 'Tawny nurse shark' 'Questionable'
 'Possibly a wobbegong' 'Injury believed caused by an eel'
 'Sicklefin Lemon Shark' 'small shark' 'Great White '
 'Some drowned but other may have been killed by blue sharks' 'Porbeagle'
 'Shark involvement questionable' 'Possibly a juvenile blacktip shark'
 'Sandtiger shark  ' 'Blue shark '
 'Shark involvement prior to death not confirmed' 'Seven-gill shark'
 'Shark involvement highly doubtful'
 'No shark invovlement - it ws a publicity stunt' 'a small shark'
 'Broadnose sevengill shark' 'Invalid' 'dogfish shark'
 'Said to involve an ' 'Bronze whaler sharks x ' 'No shark involvement'
 'Bull sharks x ' 'Silky shark' 'Hammerhead sp' 'juvenile shark'
 'Hammerhead shark' 'Shark involvement not cofirmed' 'small nurse shark'
 '- to ' 'Blacktip Reef shark ' ' m to  '
 'White shark or oceanic whitetip shark'
 'Shark involvement prior to death still to be determined'
 'Shark involvement not confirmed ' 'Goblin shark'
 'Spinner shark or blacktip shark' ' Bull shark' ' tp '
 'Possibly juvenile tiger shark' ' metre shark' ' White shark'
 ' Lemon shark' ' Sandbar shark' ' Tawney nurse shark' 'Cow shark'
 ' Raggedtooth shark' ' m to ' '-gill shark'
 'Reported to involve a bull shark' ' Wobbegong shark'
 'Thought to involve a white shark' 'Reported to involve a white shark'
 'Thought to involve a bull shark' 'Reported to involve a '
 'Whitetip reef shark' 'Small bull shark' 'Possibly a Bull shark'
 'Wobbegong' 'Possibly a blacktip reef shark'
 'shark involvement not confirmed' 'small sharks' 'Possibly a '
 'Porbeagle shark' 'White shark or bronze whaler' 'Salmon shark suspected'
 'possibly a bull shark' 'a small reef shark' 'Blacktip shark '
 'Possibly a bull shark' 'Allegedly a ' 'Port Jackson shark'
 'Zambesi shark' ' Tiger shark' 'Sandbar shark'
 'possibly a bronze whaler shark' 'Blacktip shark pup' 'White shark x '
 'Mako shark ' 'Shark involvement prior to death was not confirmed'
 'Possibly a small blacktip shark' 'A small spinner shark'
 'Possibly a blue shark' 'Thought to involve a juvenile hammerhead shark'
 'Thresher shark' 'Spurdog' 'Thought to involve a Bronze whale shark'
 'Shark involvement probable' ' kg shark' 'blacktip or spinner shark'
 'Blacktip reef shark pup' 'Thought to involve a cookiecutter shark'
 'White sharks' 'Dusky shark' ' reef shark' ' m white shark'
 ' bull shark or Caribbean reef shark' ' white shark or ' '  shark'
 'Starry smoothhound shark' 'Basking shark' 'Tiger sharks in area'
 ' small bull sharks' 'Reported by media as shark attack' 'A bull shark'
 'Possibly a hammerhead shark' 'Not a shark attack'
 'Oceanic whitetip sharks were in the vicinity' 'Gray reef shark'
 'Possibly a spinner shark' 'Sand shark' ' small spotted catshark'
 'Questionable Incident' 'A ' 'Lesser spotted dogfish' 'Silvertip shark'
 'small catsharks' 'Thought to involve a mako shark' 'Bull or tiger shark'
 ' m blacktip ' ' m' 'Said to involve a ' 'Caribbean reef sharks' ' m '
 'juvenile white shark' 'Possibly a sandbar shark or small blacktip shark'
 'On ' 'Mr' 'small hammerhead shark' 'Longfin mako shark' ' sharks'
 'black tipped' 'bull shark' ' cm ' 'Possibily a  '
 'Shark involvement doubtful' 'Shortfin mako shark'
 ' oceanic whitetip shark' ' m cow shark' 'Unidentified species' ' m  '
 ' great hammerhead shark' 'small brown shark' 'sand shark' ' cm to '
 'Species unidentified' 'Reported to involve a hammerhead shark'
 'Possibly a bull shark or tiger shark' ' m  to ' '\xa0 ' ' m  shark'
 'Shark involvement prior to death unconfired' 'C' 'Unidentified'
 'Questionable incident - shark bite may have precipitated drowning'
 ' sandtiger shark'
 'A large white shark was filmed by divers on a local wreck '
 'Possibly  a blacktip or spinner shark'
 'Possibly a juvenile blacktip or spinner shark' '-kg '
 'Thought to involve a Zambesi shark' 'Shark involvement  not confirmed'
 'Tiger sharks ' 'Shark involvement  questionable' 'Miami'
 'Thought to involve a white' ' bull sharks'
 'Bronze whaler or tiger shark' 'Possibly a white shark'
 'Though to involve a white shark' ' spinner shark'
 'Small dusky shark or blackfin shark' 'sandtiger shark'
 'Shark involvement prior to death suspected but not confirmed'
 'Possibly a blacktip shark' 'Soupfin shark'
 'Thought to involve an oceanic whitetip shark or a white shark'
 'Possibly a sand shark' 'Possibly a Caribbean reef shark' 'm  to '
 'a young shark' 'said to involve an oceanic whitetip shark' 'nurse shark'
 'Possibly a tiger shark' 'sand' 'Two ' 'White shark '
 'Though to involve a tiger shark' 'Leopard shark'
 'Thought to involve a small sand shark' 'Small shark'
 'Tiger shark said to be ' 'Tiger shark caught '
 'Thought to involve a tiger shark' 'Remains recovered from '
 'Possiby white shark' ' m hammerhead shark' 'Unidentified shark'
 'Questionable incident' 'Bull shark or lemon shark' ' m grey shark'
 'Shark involvement unconfirmed' '-kg' ' female shark'
 'Shark had a very large girth'
 'Shark involvement prior to death could not be determined'
 ' m hammerhead' 'Two sharks seen in vicinity'
 'Shark involvement suspected but not confirmed' '-lb shark' 'Blue Shark '
 ' silvertip shark' 'Zambezi shark ' ' m copper shark' 'Doubtful '
 'Tooth fragment of a white shark recovered'
 'Thought to involve a Tiger shark' ' m silky shark'
 'Possibly a small hammerhead shark' 'small blue shark'
 'Raggedtooth shark ' ' m white-tipped reef shark' ' hammerhead shark'
 'Blue sharks' 'Believed to involve a ' 'Reported as a shark attack'
 'Said to involve a tiger shark or a hammerhead shark'
 'Shark involvement prior to death remains unconfirmed' 'sandshark'
 'Possibly a  ' 'gray shark' ' m  white shark'
 'Juvenile dusky or blacktip shark'
 'Said to involve a white shark but shark involvement not confirmed'
 'Thought to involve a blacktip shark' 'Whale shark' 'White shark named '
 'Juvenile dusky shark' 'Carpet shark' 'Copper shark' ' blue shark'
 'Oceanic whitetip shark x ' ' m grey reef shark' ' m  porbeagle shark'
 'White shark according to tooth pattern and witnesses' 'Dog shark'
 'Wobbegong shark ' 'Considered a ' ' scalloped hammerhead sharks'
 'a small hammerhead shark' 'm ' 'Not authenticated' 'Blue whaler'
 'White shark or thresher shark' 'A pack of ' 'Spinner or blacktip sharks'
 'Lemon shark or sandtiger shark'
 'Local authorities speculated that the water was too cold for sharks'
 'Believed white shark and other smaller species of sharks involved'
 'Alleged to involve a White shark' ' sharks involved'
 'Small shark with white-tipped dorsal fin' 'Less than ' 'white shark'
 'Lemon shark ' 'Possibly a broadnose '
 'Dooley believed his Injury was caused by stingray '
 'Hand found in gut of ' 'Tooth fragments of ' ' Blacktip shark'
 'A long thin brown-colored shark' 'Horn shar'
 'Possibly a bronze whaler shark' ' Sevengill  shark' ' cm  shark '
 ' Grey nurse shark' 'Said to involve a Grey nurse shark '
 'Next morning a ' 'Two shark' 'Oceanic whitetip shar'
 'Six Zambesi sharks seen to ' '-lb hooked shark' 'According to Benjamin'
 'Shark involvement prior to deaths was not confirmed' 'Blue pointer'
 'Blacktail reef shark' 'A hammerhead shark' 'Said to involve white shark'
 'Reported to involve a White shark' 'Bitten by several '
 'Said to involve ' 'Sharks averaged ' 'Several sharks involved'
 'Identified as carcharinid shark '
 'Shark seen feeding on turtle scraps thrown overboard prior to incident'
 'Said to involve a large mako shark' 'a sand shark'
 'Porbeagle or white shark' '-lb sand shark' 'Survivors said '
 ' thresher or blue shark' 'Tooth fragments recovered from hull'
 'small brown-colored shark' ' m  white shark  ' 'a little shark'
 'Reported as  a shark bite but toothmarks appear to be those of a dolphin '
 'White shark tooth fragment recovered from ankle '
 'Bull shark suspected due to freshwater habitat' 'a '
 'Attacked by a number of sharks' 'unknown' 'small carpet shark'
 'Possibly a lemon shark' 'Whtietip reef shark'
 'Alleged to involve a white shark ' 'Bonita sharkk' 'Whaler shark'
 'His hand was found in a ' 'Said to be ' 'grey shark' 'Possibly C'
 'Most likely' '  m ' 'Bull sharks to '
 'Shark involvement prior to death unconfirmed' 'Reportedly'
 'whaler shark' 'a large shark' 'Thought to involve bull sharks'
 'grey-colored shark' ' days later a '
 'Large tiger shark seen in the vicinity the following morning'
 'Shovelnose shark' 'Blue nose shark'
 'Thought to involve a mako or grey nurse shark'
 'Teeth in hull identified as those from a white shark ' '-lb '
 'a school of sharks' '-foot shark' 'a dog shark' 'Blue nose sharks'
 'Moreno' 'Species unknown' 'whiptail shark' 'According to Carlsmith'
 'a blue shark' 'Said to be a ' 'a very large shark' 'Atkins'
 'Comrades saw shark' 'said to involve a tiger shark' 'Said to involve  '
 'Remains recovered '
 'Fishermen recovered partial remains from shark a week later' 'm'
 'Shark was said to ' ' a small shark' 'Blue or porbeagle shark'
 'Wobbegongs' 'Identified as C' 'Shark caught later'
 'Remains recovered from shark caught days later'
 'Shark involvement prior to deaths unconfirmed'
 'Thought to involve a porbeagle or mako shark'
 'Description of shark does not ring true' 'The fish was harpooned'
 'Possibly white sharks' ' Galapagos shark' 'said to involve '
 'A large hammerhead shark' 'Shovelnose guitarfish' 'A pack of sharks'
 'Bull shark caught' 'a black-tipped shark' 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [338]:
# Cleaning the Column 'Species' a bit 
df["Species"] = df["Species"].str.extract(r'([A-Za-z\s-]+)').fillna("Unknown") # Cleaning here the unnecessary details
df["Species"] = df["Species"].replace({
    "Not stated":"Unknown"
})
print(df["Species"])

0                              Unknown
1                        Bronze whaler
2                              Unknown
3       Reportedly Tiger or Bull shark
4         Great White Shart estimated
                     ...
6987                           Unknown
6988                           Unknown
6989                           Unknown
6990                           Unknown
6991                           Unknown
Name: Species, Length: 6992, dtype: object

In [323]:
df["Species_Types"] = df["Species"].copy() # creating a copy of species and naming it Species_Types

In [308]:
df["Species_Types"] = df["Species_Types"].fillna("Unknown").astype(str)

In [ ]:
df["Species_Types"] = df["Species_Types"].replace({
    "Not stated": "Unknown",
    "Not specified": "Unknown",
    "Invalid": "Unknown",
    "Great White Shark": "White Shark"   
})

In [330]:
#Data Cleanining for the Column 'Species'
#df["Species"].unique() df["Species"] = df["Species"]
#df["Species"]
#df.Species.unique()

def clean_shark_name(species): 
    species = species.strip().lower()

    match = re.search(r"(?:\b\w+\s+)*?(great white|horn|white|tiger|bull|Bull|hammerhead|hammer|Hammerhead|blacktip|whale|nurse|mako|reef|Reef)(?:\s+\w+)*?\s*shark(?:\s+\w+)*?", species)
    #match = re.search(r"(great white|white|tiger|bull|hammerhead|blacktip|whale|nurse|mako|reef)s*shark", species)

    if match:
        #return match.group(0).title()
        return match.group(1).title() + " Shark"
    else: 
        return "Other/Unknown"

df["Species_Types"] = df["Species_Types"].apply(clean_shark_name)

print(df["Species_Types"].value_counts())  # Check unique values
print(df["Species_Types"].tail())  # Display first few rows
#print(df_Species.nunique()) 
#print(df_Species.unique()[:100])

Species_Types
Other/Unknown       5566
White Shark          552
Tiger Shark          314
Bull Shark           196
Nurse Shark          110
Blacktip Shark       101
Reef Shark            57
Mako Shark            56
Hammerhead Shark      37
Whale Shark            3
Name: count, dtype: int64
6987    Other/Unknown
6988    Other/Unknown
6989    Other/Unknown
6990    Other/Unknown
6991    Other/Unknown
Name: Species_Types, dtype: object

In [340]:
#df.dtypes

In [342]:
df["Species_Types"] = df["Species_Types"].str.strip()

In [343]:
print(df["Species_Types"].value_counts())

Species_Types
Other/Unknown       5566
White Shark          552
Tiger Shark          314
Bull Shark           196
Nurse Shark          110
Blacktip Shark       101
Reef Shark            57
Mako Shark            56
Hammerhead Shark      37
Whale Shark            3
Name: count, dtype: int64

In [345]:
#Group_Species = df.groupby("Species")

#for species, group in Group_Species:
#    print(f"Group name: {species}")
#   # display(group)
#df["Species"].nunique() == len(Grouped_Species)

In [ ]:
#df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [ ]:
# Data Cleaning for the column 'Country', I've tried to use regex 
df["Country"] = df["Country"].str.strip().str.title()
df["Country"] = df["Country"].str.replace(r"[^a-zA-Z\s]", "", regex=True)
#df["Country"] = df["Country"].map(lambda x: x.upper())
df["Country"] = df["Country"].fillna("Unknown")
print(df["Country"].unique())

In [ ]:
# Cleaning for location
df["Location"] = df["Location"].astype(str)
df["Location"] = df["Location"].map(lambda x:x.upper())
df["Location"] = df["Location"].fillna("Unknown")
df["Location"] = df["Location"].str.strip()
df["Location"] = df["Location"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown", 
})

In [ ]:
# Data Cleaning for the Column 'State'
#df["State"] = df["State"].
df["State"] = df["State"].fillna("Unknown")
df["State"] = df["State"].astype(str)
df["State"] = df["State"].str.strip()
df["State"] = df["State"].replace({
    "NAN": "Unknown",
    "nan": "Unknown",
    "Nan": "Unknown", 
    " ": "Unknown",
    "  ": "Unknown"
})
print(df["State"].unique())

In [ ]:
# Data Cleaning for the Column Activity 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs more cleaning

In [ ]:
df.isna().sum()

In [ ]:
# Data Cleaning for the Column 'Name' 
df["Activity"] = df["Activity"].fillna("Unknown")
df["Activity"] = df["Activity"].astype(str)
df["Activity"] = df["Activity"].str.strip()
df["Activity"] = df["Activity"].replace({
    "NAN": "Unknown",
     "nan": "Unknown",
      "Nan": "Unknown",
})
# Needs to be furthered cleaned

In [ ]:
# Data Cleaning for the Column Age
# df["Age"] = df["Age"].astype()
# df["Age"] = df["Age"]
# df["Age"] = df["Age"]

In [ ]:
# Data Cleaning for The Column Fatal
df["Fatal"] = df["Fatal"].fillna("Unknown")
df["Fatal"] = df["Fatal"].astype(str)
df["Fatal"] = df["Fatal"].replace({
    "Nan": "Unknown",
    " N": "N",
    "UNKNOWN": "Unknown",
    "F": "Unknown",\
    "M": "N",
    "n": "N",
    "Nq": "N",
     2017: "Unknown",
     "Y x 2": "Y",
     "y": "Y",
     "N   ": "N",
})
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]
#df["Fatal"] = df["Fatal"]

In [ ]:
df['Fatal'].value_counts(dropna=False)

In [ ]:
df_count = df.groupby("Year")["Date"].count()
df_count

In [ ]:
df_count = df.groupby("Year")["Date"].count()
df_count[df_count.index > 1750].plot()

In [ ]:
df_count#.isna().sum()

In [ ]:
df[df["Year"] == 5]

In [ ]:
df["Country"].value_counts()

In [ ]:
df_usa = df[df["Country"] == "USA"]
df_usa

In [ ]:
df_usa["Date"] = pd.to_datetime(df_usa["Date"])

In [ ]:
df_usa["Date"].value_counts()

In [ ]:
pd.to_datetime(df_usa["Data_Clean"])